/* Define the color variables */
:root {
  --color-lightest: #f8f9fa;
  --color-light: #e9ecef;
  --color-lighter: #dee2e6;
  --color-light-medium: #ced4da;
  --color-light-dark: #adb5bd;
  --color-medium-dark: #6c757d;
  --color-dark: #495057;
  --color-darker: #343a40;
  --color-darkest: #212529;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: var(--color-dark);
  background-color: var(--color-lightest);
}

#navbar {
  position: fixed;
  left: 0;
  top: 10vh;
  width: auto;
  border-radius: 8px;
  background-color: var(--color-light);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-lighter);
}

.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-light);
  border: 1px solid var(--color-lighter);
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
  padding: 10px;
  border-radius: 8px;
}

.dropdown-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 5px;
  font-size: 30px;
  color: var(--color-darkest);
}

.dropdown-container.open .dropdown {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdown-container.open .dropdown-icon {
  transform: rotate(90deg);
}

.dropdown-container:hover .dropdown {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdown-container:hover .dropdown-icon {
  transform: rotate(90deg);
}

.dropdown .nav-item {
  display: flex;
  align-items: center;
  padding: 7.5px 5px;
  border-bottom: 0.5px solid var(--color-lighter);
}

.dropdown .nav-item:last-child {
  border-bottom: none;
}

.dropdown .nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-dark);
  padding: 2.5px 5px;
}

.dropdown .nav-link i {
  margin-right: 10px;
  font-size: 20px;
}

.dropdown .nav-link span {
  font-size: 16px;
  font-weight: 400;
}

.dropdown .nav-link:hover {
  background-color: var(--color-light);
  border-radius: 4px;
}

#welcome-screen {
  color: var(--color-darkest);
  text-align: center;
  padding: 50px;
}
